/* Default Settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Fonts */
@font-face {
  font-family: "Excon Regular";
  font-weight: 400;
  src: url("/Fonts/Excon-Regular.woff") format("woff"),
    url("/Fonts/Excon-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Chillax Bold";
  font-weight: 800;
  src: url("/Fonts/Chillax-Bold.woff") format("woff"),
    url("/Fonts/Chillax-Bold.woff2") format("woff2");
  font-display: swap;
}

:root {
  --bg-dark: #252323;
  --bg-light: #e7efff;
  --clr-blue: #0466c8;
  --clr-green: #0a9456;
  --clr-gray: #757272;
  --always-light: #e7efff;
}

.gray {
  color: var(--clr-gray);
  font-family: "Excon Regular";
  font-size: 1.5rem;
}

.blue {
  color: var(--clr-blue);
}

.dark-mode {
  --bg-dark: #e7efff;
  --bg-light: #252323;
}

body {
  min-height: 100vh;
  font-family: "Excon Regular", Arial, Helvetica, sans-serif;
  color: var(--clr-blue);
  background-color: var(--bg-dark);
}
