/* Media Query for Nav Toggle */
@media (width < 900px) {
  nav {
    transform: translateX(-100%);
    width: 100%;
  }

  body[data-nav="true"] > nav {
    transform: translateX(0);
  }

  #nav-links {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    transform: translateX(70%) scale(0.9);
  }

  .nav-link {
    flex-grow: 0;
  }

  #nav-toggle {
    bottom: 2rem;
    left: 50%;
  }
}

@media (width < 800px) {
  .projects-container {
    flex-direction: column;
  }

  .shape-bg {
    /* right: -75%; */
    display: none;
  }

  .project-card {
    flex: 1 1 25rem;
    margin-top: 3rem;
  }

  .card-link {
    height: 50%;
  }

  .fill .card-img-container {
    height: auto;
  }

  .card-img-container img {
    object-fit: cover;
  }

  .card-stack {
    width: 100%;
    flex-flow: row wrap;
  }

  .stack-item {
    margin-top: 0.5rem;
  }
}

@media (width < 900px) {
  .skills-info {
    display: none;
  }

  .skills {
    justify-content: center;
  }

  .skills-title {
    text-align: center;
  }
}
