@import "./utils.css";
@import "./keyframes.css";

:root {
  --bg-dark: #252323;
  --bg-light: #fafaff;
  --text-light: var(--bg-light);
  --text-dark: var(--bg-dark);
  --clr-blue: #0466c8;
  --clr-blue-500-dark: #2e73b9;
  --clr-blue-500-light: #30577e;
  --clr-green: #0a9456;
  --always-light: #fafaff;
}

.dark-mode {
  --bg-dark: #fafaff;
  --bg-light: #252323;
  --text-light: #252323;
  --text-dark: #fafaff;
}

body {
  min-height: 100vh;
  font-family: "General Sans", sans-serif;
  color: var(--clr-blue);
  background-color: var(--bg-dark);
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
  z-index: 2;

  position: relative;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

.page-container {
  display: flex;
}

/* Page */
.page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex: none;
}

/* Home */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-letters {
  display: flex;
}

.home-title,
.home-letter {
  font-size: clamp(1.5rem, 10vw, 5rem);
  font-weight: 700;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-text-stroke: 2px var(--clr-blue);
  background-clip: text;
  position: relative;
  transition: background-color 2s ease;
  transition-delay: 100ms;
}

.home-description {
  font-size: clamp(0.75rem, 10vw, 1.25rem);
  color: var(--clr-blue);
}

/* Projects */
.projects {
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.projects:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(
    0deg,
    var(--clr-blue-500-dark),
    var(--clr-blue),
    var(--clr-blue-500-light)
  );
  z-index: -2;
  filter: blur(10rem);
  opacity: 0.5;
  transform: skew(-5deg);
}

.project-card {
  position: relative;
  height: 700px;
  flex: 0.5;
  border-radius: 1rem;
  transition: flex 500ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
  background-color: rgba(37, 37, 35, 0.75);
  border: 2px solid var(--clr-blue);
  transform: skew(-5deg);

  overflow: hidden;
}

.project-card:hover {
  background-color: rgba(37, 37, 35, 1);
}

.open-card {
  flex: 5;
  background-color: rgba(37, 37, 35, 1);
}

.open-card .card-content {
  display: block !important;
}

.project-card .card-content {
  display: none;
}

.card-content {
  color: var(--always-light);
  padding: 1rem;
  margin-left: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: skew(5deg);

  opacity: 0;
  animation: fading 200ms ease-in forwards;
  animation-delay: 200ms;
}

.project-title {
  margin-top: 1rem;
  color: var(--clr-blue);
  text-align: center;
  font-size: clamp(1rem, 5vw, 2rem);
}

.project-description {
  font-size: clamp(0.75rem, 10vw, 1.25rem);
  margin: 1rem auto;
  width: 90%;
}

.card-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  /* transform: skew(-5deg); */
}

.card-img-container {
  margin-top: 1rem;
  height: 75%;
  width: 75%;
}

.project-stack {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.stack-item span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.stack-item svg {
  /* margin: 0 auto; */
  height: 40px;
  width: 40px;
}

/* Media Query for Projects Page */
@media (width < 900px) {
  .projects {
    flex-direction: column;
  }

  .projects:before,
  .project-card,
  .card-content {
    transform: skew(0deg);
  }

  .project-card,
  .open-card {
    flex: 1;
  }

  .project-card .card-content {
    display: block;
  }
}

/* Dark Mode Toggle */
#dark-mode-toggle {
  top: 1rem;
  right: 1rem;
  color: var(--bg-light);
  position: fixed;
  transition: transform 200ms ease;
  transform: scale(0.9);
  z-index: 3;
}

#dark-mode-toggle:hover {
  transform: scale(1.1);
}

/* NAV */
nav {
  height: 100%;
  width: 20vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4;
  overflow: hidden;
  background: var(--bg-light);

  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
  transform: translateX(-20vw);
}

#nav-links {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  /* gap: clamp(1rem, 2vw, 2rem);
  padding: 0rem clamp(1rem, 2vw, 2rem); */
  transform: translateX(-70%) scale(0.9);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link {
  text-align: center;
  list-style: none;
}

.nav-link-label {
  color: var(--bg-dark);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  opacity: 0.95;
  transition: opacity 200ms ease;
}

.nav-link-label:hover {
  opacity: 1;
}

.nav-link-label::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: var(--clr-blue);
  bottom: 0;
  left: 0;
  transition: width 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link-label:hover:before {
  width: 100%;
}

body[data-nav="true"] > nav > #nav-links {
  transform: translateX(0%) scale(1);
}

body[data-nav="true"] > nav {
  transform: translateX(0);
}

/* Nav Toggle */
#nav-toggle {
  width: 5rem;
  aspect-ratio: 1;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 4rem;
  margin: auto;
  transform: translateX(-50%);
  background-color: var(--clr-blue);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: transform, background-color;
  transition-timing-function: eases;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.1);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.9);
}

body:not([data-nav="true"]) > #nav-toggle > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Media Query for Nav Toggle */
@media (width < 900px) {
  nav {
    transform: translateX(-100%);
    width: 100%;
  }

  body[data-nav="true"] > nav {
    transform: translateX(0%);
  }

  #nav-links {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    transform: translateX(70%) scale(0.9);
  }

  .nav-link {
    flex-grow: 0;
  }
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: var(--bg-light);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.down {
  transform: rotate(180deg);
}

/* Scroll Progress */
#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: var(--clr-blue);
  z-index: 10000;
  /* transition: width 200ms ease; */
}

/* Mouse Trailer */
#trailer {
  height: 20px;
  width: 20px;
  background-color: var(--clr-blue);
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;

  pointer-events: none;

  display: grid;
  place-items: center;
}
