@import "./utils.css";
@import "./keyframes.css";

:root {
  --bg-dark: #252323;
  --bg-light: #d2d2d3;
  --text-light: var(--bg-light);
  --text-dark: var(--bg-dark);
  --clr-blue: #0466c8;
  --clr-blue-500-dark: #2e73b9;
  --clr-blue-500-light: #30577e;
  --clr-green: #0a9456;
  --always-light: #d2d2d3;
}

.dark-mode {
  --bg-dark: #d2d2d3;
  --bg-light: #252323;
  --text-light: #252323;
  --text-dark: #d2d2d3;
}

body {
  min-height: 100vh;
  font-family: "Excon Regular", Arial, Helvetica, sans-serif;
  color: var(--clr-blue);
  background-color: var(--bg-dark);
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
  z-index: 2;

  position: relative;
  scroll-behavior: smooth;
}

/* Page */
.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.dark-mode .home-bg1,
.dark-mode .home-bg2,
.dark-mode .home-bg3 {
  filter: invert(100%);
}

.home-bg1 {
  background: url("/newnewBG1.png");
  top: 0%;
  left: 12%;
}

.home-bg2 {
  background: url("/newnewBG2.png");
  top: -20%;
  left: 20%;
}

.home-bg3 {
  background: url("/newnewBG2.png");
  top: 10%;
  left: 15%;
  transform: rotate(180deg);
}

.home-bg1,
.home-bg2,
.home-bg3 {
  opacity: 0.5;
  height: 1200px;
  width: 1200px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-title {
  font-family: "Chillax Bold";
  font-size: clamp(1.5rem, 10vw, 5rem);
  font-weight: 800;
  color: var(--bg-light);
  transform: translateY(200px);
  opacity: 0;
}

.home-description {
  font-size: clamp(0.75rem, 10vw, 1.25rem);
  color: var(--clr-blue);
}

/* Projects */

/* Dark Mode Toggle */
#dark-mode-toggle {
  top: 1rem;
  right: 1rem;
  color: var(--bg-light);
  position: fixed;
  transition: transform 200ms ease;
  transform: scale(0.9);
  z-index: 3;
}

#dark-mode-toggle:hover {
  transform: scale(1.1);
}

/* NAV */
nav {
  height: 100%;
  width: 20vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4;
  overflow: hidden;
  background: var(--bg-light);

  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
  transform: translateX(-20vw);
}

#nav-links {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(-70%) scale(0.9);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link {
  text-align: center;
  list-style: none;
}

.nav-link-label {
  font-family: "Chillax Bold";
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--bg-dark);
  margin: 0rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  opacity: 0.95;
  transition: opacity 200ms ease;
}

.nav-link-label:hover {
  opacity: 1;
}

.nav-link-label::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: var(--clr-blue);
  bottom: 0;
  left: 0;
  transition: width 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link-label:hover:before {
  width: 100%;
}

body[data-nav="true"] > nav > #nav-links {
  transform: translateX(0%) scale(1);
}

body[data-nav="true"] > nav {
  transform: translateX(0);
}

/* Nav Toggle */
#nav-toggle {
  width: 5rem;
  aspect-ratio: 1;
  position: fixed;
  z-index: 10000;
  left: 4%;
  bottom: 2rem;
  margin: auto;
  transform: translateX(-50%);
  background-color: var(--clr-blue);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: transform, background-color;
  transition-timing-function: eases;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.1);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.9);
}

body:not([data-nav="true"]) > #nav-toggle > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(90deg);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(90deg);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: var(--bg-light);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.down {
  transform: rotate(180deg);
}
