@import "./utils.css";
@import "./keyframes.css";

:root {
  --bg-dark: #252323;
  --bg-light: #fafaff;
  --text-light: var(--bg-light);
  --text-dark: var(--bg-dark);
  --clr-blue: #0466c8;
  --clr-blue-500-dark: #023364;
  --clr-blue-500-light: #82b3e4;
  --clr-green: #0a9456;
}

.dark-mode {
  --bg-dark: #fafaff;
  --bg-light: #252323;
  --text-light: #252323;
  --text-dark: #fafaff;
}

body {
  height: 100vh;
  font-family: "General Sans", sans-serif;
  color: var(--clr-blue);
  z-index: 2;
  position: relative;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--bg-dark);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);

  z-index: 2;
  position: relative;

  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

/* Page */
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  overflow: hidden;

  scroll-snap-align: start;
}

/* Page Container */
.container {
  width: 90%;
  height: 90%;
  border: 2px solid var(--clr-blue);
  border-radius: 1rem;
  /* padding: 1rem; */
}

/* Home */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 700;
}

.home-description {
  font-size: 3rem;
  color: var(--clr-blue);
}

.wavy {
  color: transparent;
  -webkit-text-stroke: 2px var(--clr-blue);
  position: relative;
}

.wavy:before {
  content: "Hi, I'm Allef Soares";
  color: var(--clr-blue);
  position: absolute;
  animation: wavy 4s ease-in-out infinite;
}

/* Projects */
.projects {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
}

.project-card {
  position: relative;
  overflow: hidden;
  flex: 0.5;
  transition: all 500ms ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.open-card {
  flex: 5;
}

.project-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease;
}

.open-card .card-content {
  opacity: 1 !important;
}

.project-card .card-content {
  opacity: 0;
}

.card-content {
  color: var(--bg-light);
  padding: 1.25rem;
  overflow: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease;
}

/* Dark Mode Toggle */
#dark-mode-toggle {
  top: 1rem;
  right: 1rem;
  color: var(--bg-light);
  position: fixed;
  transition: transform 200ms ease;
  transform: scale(0.9);
}

#dark-mode-toggle:hover {
  transform: scale(1.1);
}

/* NAV */
nav {
  height: 20vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  background: var(--bg-light);
}

#nav-links {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  /* gap: clamp(1rem, 2vw, 2rem);
  padding: 0rem clamp(1rem, 2vw, 2rem); */
  transform: translateY(70%) scale(0.9);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link {
  flex-grow: 1;
  text-align: center;
  list-style: none;
}

.nav-link-label {
  color: var(--bg-dark);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  opacity: 0.95;
  transition: opacity 200ms ease;
}

.nav-link-label:hover {
  opacity: 1;
}

.nav-link-label::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: var(--clr-blue);
  bottom: 0;
  left: 0;
  transition: width 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link-label:hover:before {
  width: 100%;
}

body[data-nav="true"] > nav > #nav-links {
  transform: translateY(0%) scale(1);
}

/* Nav Toggle */
#nav-toggle {
  width: 5rem;
  aspect-ratio: 1;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 4rem;
  margin: auto;
  transform: translateX(-50%);
  background-color: var(--clr-blue);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: transform, background-color;
  transition-timing-function: eases;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.1);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.9);
}

body:not([data-nav="true"]) > #nav-toggle > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > main {
  transform: translateY(-20%);
}

/* Media Query for Nav Toggle */
@media (width < 900px) {
  body[data-nav="true"] > main {
    transform: translateY(-100%);
  }

  nav {
    height: 100%;
  }

  #nav-links {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .nav-link {
    flex-grow: 0;
  }
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: var(--bg-light);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.down {
  transform: rotate(180deg);
}

/* Scroll Progress */
#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: var(--clr-blue);
  z-index: 10000;
  transition: width 200ms ease;
}

/* Mouse Trailer */
#trailer {
  height: 20px;
  width: 20px;
  background-color: var(--clr-blue);
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;

  pointer-events: none;

  display: grid;
  place-items: center;
}
