main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
  z-index: 2;
  scroll-behavior: smooth;
  position: relative;
}

/* Home */
#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.dark-mode .home-bg1,
.dark-mode .home-bg2,
.dark-mode .home-bg3 {
  filter: invert(100%);
}

.home-bg1 {
  background: url("/newnewnewBG1.png");
  top: 0%;
  left: 0%;
}
.home-bg2 {
  background: url("/newnewBG2.png");
  top: -20%;
  left: 20%;
}
.home-bg3 {
  background: url("/newnewBG2.png");
  top: 10%;
  left: 15%;
  transform: rotate(180deg);
}

.home-bg1,
.home-bg2,
.home-bg3 {
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.home-content {
  padding: 1rem;
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.home-title {
  font-family: "Chillax Bold";
  font-size: clamp(1.5rem, 10vw, 5rem);
  font-weight: 800;
  color: var(--bg-light);
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  /* transform: translateY(200px); */
}

.home-title:after {
  content: "";
  position: absolute;
  bottom: 22%;
  left: 0;
  width: 100%;
  height: 10px;
  background: var(--clr-blue);
  z-index: -1;
}

.home-description {
  color: var(--bg-light);
  font-weight: 400;
  font-size: clamp(0.75rem, 10vw, 1.5rem);
  position: relative;

  transform: translateY(115px);
  opacity: 0;
}

.dots-container {
  display: flex;
}

.dots {
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--clr-blue);
  margin-right: 5px;
  align-self: flex-end;
  animation: dotWave 3s infinite ease;
}

.dot:nth-child(2) {
  animation-delay: 1s;
}

.dot:nth-child(3) {
  animation-delay: 2s;
}

/* Projects */
#projects {
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}

.projects-wrapper {
  width: 90%;
  min-height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.projects-title,
.skills-title,
.contact-title {
  color: var(--bg-light);
  font-size: clamp(1rem, 10vw, 2rem);
  margin-bottom: 1rem;
  font-family: "Chillax Bold";
  position: relative;
}

.projects-container {
  width: 100%;
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.project-card {
  flex: 1 0 40rem;
  border-radius: 0.5rem;
  position: relative;
}

.fill .card-img-container {
  height: 317px;
}

.card-img-container {
  max-height: 350px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
}

.card-img {
  width: 100%;
  height: 320px;
  border-radius: 0.5rem;
}

.card-text {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.card-title {
  color: var(--bg-light);
  font-weight: 600;
}

.card-link {
  padding: 0.5rem;
  cursor: pointer;
  color: var(--clr-blue);
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.card-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--clr-gray);
  opacity: 0.1;
  border-radius: 50%;
  transition: opacity 500ms ease;
}

.card-link:hover:before {
  opacity: 0.3;
}

.card-stack {
  margin-top: 0.5rem;
  width: 75%;
  display: flex;
}

.stack-item {
  padding: 4px;
  border: 2px solid var(--clr-blue);
  color: var(--bg-light);
  background-color: var(--bg-dark);
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

/* Skills */
#skills {
  /* padding-top: 10rem; */
  margin-top: 10rem;
  position: relative;
}

.skills-wrapper {
  width: 90%;
  margin: 0 auto;
}

.skills-title {
  text-align: end;
  opacity: 0;
  /* transform: translateY(100px); */
}

.skills-container {
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-flow: row-reverse wrap;
}

.skills {
  flex: 5;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
  justify-content: end;
}

.skill-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--clr-gray);
  background: var(--bg-dark);
  color: var(--bg-light);
  border-radius: 0.5rem;
  box-shadow:
  /* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);

  /* opacity: 0; */
}

.skill-item svg {
  margin-right: 1rem;
  height: 32px;
  width: 32px;
}

.skills-info {
  flex: 2;
}

.shape-bg {
  height: 1200px;
  width: 700px;
  background: var(--clr-blue);
  clip-path: polygon(9% 0, 100% 7%, 78% 54%, 17% 86%);
  position: absolute;
  z-index: -1;
  bottom: 50%;
  right: -10%;
  transform: rotate(180deg);
}

.shape-bg2 {
  height: 1200px;
  width: 700px;
  background: var(--clr-blue);
  clip-path: polygon(60% 15%, 100% 0%, 100% 100%, 42% 83%, 24% 26%);
  position: absolute;
  z-index: -1;
  bottom: 0%;
  right: 0%;
  transform: rotate(360deg);
}

.shape-bg3 {
  height: 1200px;
  width: 700px;
  background: var(--clr-blue);
  clip-path: polygon(60% 15%, 100% 0%, 100% 100%, 42% 83%, 24% 26%);
  position: absolute;
  z-index: -1;
  bottom: -50%;
  left: 0%;
  transform: rotate(180deg);
}

/* Contact */

#contact {
  height: 100vh;
  margin-top: 10rem;
  position: relative;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.contact-wrapper {
  width: 90%;
  margin: 0 auto;
}

.contact-content {
  /* width: 75%; */
  margin: 0 auto;
}

.contact-title {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-icons {
  display: flex;
  gap: 1rem;
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  color: var(--bg-light);
  cursor: pointer;
}

.form-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1000px;
}

.name-input,
.email-input,
.message-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.name-input {
  grid-column: 1 / 2;
}

.email-input {
  grid-column: 2 / 3;
}

.message-input {
  grid-column: 1 / 3;
}

.contact-input {
  font-family: "Excon Regular";
  font-size: 1.25rem;
  padding: 1rem;
  background: var(--bg-dark);
  color: var(--bg-light);
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--clr-gray);
  box-shadow:
  /* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);
}

.contact-label {
  color: var(--bg-light);
  font-size: 1.25rem;
  font-family: "Chillax Bold";
  pointer-events: none;
  padding: 1rem;
  position: absolute;
  left: 0%;
  transition: all 400ms ease;
}

.contact-input:valid ~ .contact-label,
.contact-input:focus ~ .contact-label {
  color: var(--clr-blue);
  transform: translateX(10px) translateY(-10px);
  font-size: 1rem;
  padding: 0 0.5rem;
  background: var(--bg-dark);
  border-left: 1px solid var(--clr-gray);
  border-right: 1px solid var(--clr-gray);
}

.form-submit {
  margin-top: 1rem;
  height: 3rem;
  width: 3rem;
  padding: 0.75rem;
  cursor: pointer;
  color: var(--bg-light);
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 50%;

  grid-column: 2 / 3;
  justify-self: end;

  transition: all 400ms ease;
}

.form-submit:before {
  content: "";
  position: absolute;
  top: 1%;
  left: -4%;
  height: 100%;
  width: 100%;
  background: var(--bg-light);
  opacity: 0.1;
  border-radius: 50%;
  transition: opacity 500ms ease;
}

.form-submit:hover:before {
  opacity: 0.3;
}

.form-submit:hover {
  color: var(--clr-blue);
}

/* Dark Mode Toggle */
#dark-mode-toggle {
  top: 1rem;
  right: 1rem;
  color: var(--bg-light);
  position: fixed;
  transition: transform 200ms ease;
  transform: scale(0.9);
  z-index: 3;
}

#dark-mode-toggle:hover {
  transform: scale(1.1);
}

/* NAV */
nav {
  height: 100%;
  width: 20vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4;
  overflow: hidden;
  background: var(--bg-light);

  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
  transform: translateX(-20vw);
}

#nav-links {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(-70%) scale(0.9);
  transition: transform 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link {
  text-align: center;
  list-style: none;
}

.nav-link-label {
  font-family: "Chillax Bold";
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--bg-dark);
  margin: 0rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  opacity: 0.95;
  transition: opacity 200ms ease;
}

.nav-link-label:hover {
  opacity: 1;
}

.nav-link-label::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: var(--clr-blue);
  bottom: 0;
  left: 0;
  transition: width 400ms cubic-bezier(0.175, 0.65, 0.32, 0.85);
}

.nav-link-label:hover:before {
  width: 100%;
}

body[data-nav="true"] > nav > #nav-links {
  transform: translateX(0%) scale(1);
}

body[data-nav="true"] > nav {
  transform: translateX(0);
}

/* Nav Toggle */
#nav-toggle {
  width: 5rem;
  aspect-ratio: 1;
  position: fixed;
  z-index: 10000;
  left: 4%;
  top: 1rem;
  margin: auto;
  transform: translateX(-50%);
  background-color: var(--clr-blue);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: transform, background-color;
  transition-timing-function: eases;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.1);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.9);
}

body:not([data-nav="true"]) > #nav-toggle > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(90deg);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(90deg);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: var(--bg-light);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.nav-toggle-icon {
  height: 35px;
  width: 35px;
}

.down {
  transform: rotate(180deg);
}

/* QUERIES */

/* Media Query for Nav Toggle */
@media only screen and (max-width: 900px) {
  nav {
    transform: translateX(-100%);
    width: 100%;
  }

  body[data-nav="true"] > nav {
    transform: translateX(0);
  }

  #nav-links {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    transform: translateX(70%) scale(0.9);
  }

  .nav-link {
    flex-grow: 0;
  }

  #nav-toggle {
    width: 3rem;
    top: 1rem;
    left: 10%;
  }

  .skills-info {
    display: none;
  }

  .skills {
    justify-content: center;
  }

  .skills-title {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .projects-container {
    flex-direction: column;
  }

  .shape-bg,
  .shape-bg2 {
    right: -75%;
  }

  .shape-bg3 {
    left: -50%;
    bottom: 0;
  }

  .project-card {
    flex: 1 1 25rem;
    margin-top: 3rem;
  }

  .card-link {
    height: 50%;
  }

  .fill .card-img-container {
    height: auto;
  }

  .card-img-container img {
    object-fit: cover;
  }

  .card-title {
    flex-grow: 1;
    flex-basis: 90%;
  }

  .card-stack {
    width: 100%;
    flex-flow: row wrap;
  }

  .stack-item {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 675px) {
  .name-input,
  .message-input,
  .email-input {
    grid-column: 1 / end;
  }

  .page {
    overflow-x: hidden;
  }

  .shape-bg {
    display: none;
  }

  .card-stack {
    /* justify-content: center; */
  }
}

/* KEYFRAMES */
@keyframes wavy {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dotWave {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
}
