* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

@font-face {
  font-family: "Excon Regular";
  font-weight: 400;
  src: url("/Fonts/Excon-Regular.woff") format("woff"),
    url("/Fonts/Excon-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Chillax Bold";
  font-weight: 800;
  src: url("/Fonts/Chillax-Bold.woff") format("woff"),
    url("/Fonts/Chillax-Bold.woff2") format("woff2");
  font-display: swap;

}
